/.bundle/
/vendor/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

Gemfile.lock
.ruby-version
.ruby-gemset

typesense-server-peers

# rspec failure tracking
.rspec_status
typesense-data
